<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Add Route @ Walky</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="add_route.css" rel="stylesheet">
	<link href="css/4sq_item.css" rel="stylesheet">
	<!-- jQuery UI CSS -->
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link href="css/route_timeline.css" rel="stylesheet">
	<!-- Lobster font for the logo -->
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<!--link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'-->
	<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen"> 


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
		<header> 
			<div class="row center-block">
				<div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
					<a class="btn btn-link" id="city_name" role="button" style="color: #fff">Nizhniy Novgorod</a>
					<!--a class="btn btn-link" role="button" style="color: #fff"> Change Location </a-->
				</div>
				<div class="col-md-4 col-sm-4 col-md-offset-0 col-sm-offset-0 ">
					
						<!--img src="images/logo.png" class="center-block"-->
						<div class="center-block logo"> Walky </div>
					
				</div>
				<div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
					<a class="btn btn-primary" role="button"> Sign Up </a>
					<a class="btn btn-primary" role="button"> Log In </a>
				</div>
			</div>
			
		</header>
		
		<!-- Process Steps Row -->
		<div class="row center-block" style="margin-top: 10px;">
			<div class="col-md-12">
				<!-- Process Steps -->
				<div class="process">
					<div class="process-row">
				        <div class="process-step">
				        	<p>Draw on map</p>
				            <button type="button" class="btn btn-success btn-circle" disabled="disabled" id="first_step_indicator"><i class="glyphicon glyphicon-map-marker"></i></button>
				        </div>
				        <div class="process-step">
				        	<p>Name & Make notes</p>
				            <button type="button" class="btn btn-default btn-circle" disabled="disabled" id="second_step_indicator"><i class="glyphicon glyphicon-pencil"></i></button>
				        </div>
				         <div class="process-step">
				         	<p>Add photos & Save</p>
				            <button type="button" class="btn btn-default btn-circle" disabled="disabled" id="third_step_indicator"><i class="glyphicon glyphicon-camera"></i></button>
				        </div> 
				    </div>
				</div>
			</div>
		</div>

		<div class="row center-block" id="step_slider_wrapper">
			<div class="row row-3x" id="mask">
				<!-- Start Offset to show First step -->
				<div class="col-md-2" id="start_offset">	</div>
				<!-- Offset to hide First step -->
				<div class="col-md-2" id="first_step_offset">	</div>
				<!-- Offset to hide Second step -->
				<div class="col-md-2" id="second_step_offset">	</div>

				<!-- First step -->
				<div class="col-md-2 on_screen" id="first_step"><div class="row " >

					<!-- Foursquare Places column -->
					<div class="col-md-3 " >
						<!-- Search Form -->
						<div class="input-group custom-search-form">
							<span class="input-group-addon"><i class="fa fa-foursquare"></i></span>
							<input type="text" class="form-control" id="search_venue_input">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" id="search_venues_button">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
						<!-- Foursquare places -->
						<div id="venues_list_wrapper"><ul id="venues_list">
							<li class="venue hidden draggable">
								<div class="img_wrapper">
									<img src="images/foursquare_photo_icon.png">
								</div>
								<div class="info_wrapper ">
									<span class="bold venue_title">Venue Sample Title</span>
									<br>
									
									<div class="icon_wrapper" >
										<div class="center-block venue_type">
											<img alt="" title="" data-placement="bottom" src="images/venue_type_icon.png">
										</div>
									</div>
									<div class="icon_wrapper" >
										<div class="center-block rating_wrapper" title="Rating" data-placement="bottom">
											<i class="glyphicon glyphicon-stats"> </i><text class="venue_rating"> 8.9</text>
										</div>
									</div>
									<div class="icon_wrapper">
										<div class="center-block">
											<a class="venue_link" title="Show on Foursquare" data-placement="bottom" target="_blank" href="#" class="center-block"><i class="glyphicon glyphicon-share-alt"></i> </a>
										</div>
									</div>
									
								</div>
							</li>
						</ul> </div>

					</div>
					<!-- Map column -->
					<div class="col-md-7">
						<!-- Route Map -->
						<div class="row" id="route_map_wrapper">
							<div class="col-md-12" id="route_map">

							</div>	
						</div>
					</div>
					<!-- Route Buttons column -->
					<div class="col-md-2 on-map-center">
						<div class="row center-block">
								<div class="btn-group dropup">
									
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="concept" id="selected_route_type" data-type="pedestrian">Pedestrian</span> 
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										
										<li><a  id="pedestrian_link">Pedestrian</a></li>
									    <li><a  id="bicycle_link">Bicycle</a></li>
									    <li><a  id="car_link">Car</a></li>
									</ul>
								</div>
						</div>
						<div class="row center-block">						
							<button type="button" class="btn btn-primary" id="build_route_button">Build Route </button>
						</div>
						<!-- Route Info row -->
						<div class="row center-block"> 
							<!-- Distance -->
							<div class="col-md-6">
								<div id="distance">		</div>				
								<h5 id="distance_value" style="text-align: center;">N/A</h5>
							</div>
							<!-- Duration -->
							<div class="col-md-6">
								<div id="duration">		</div>
							<h5 id="duration_value" style="text-align: center;">N/A</h5>
							</div>
						</div>

					</div>
				</div> </div>
				
				<!-- Second step -->
				<div class="col-md-2" id="second_step"><div class=" " >
					<div class="col-md-12" >
						<div class="row"> <div class="col-md-6 col-md-offset-3">
							<div class="input-group input-group-lg">
								<input type="text" class="form-control validate-text required" name="validate-text" placeholder="Your Route Name" required id="route_name">
								<span class="input-group-addon danger">
									<span class="glyphicon glyphicon-remove"></span>
								</span>
							</div>
						</div> </div>

						<ul class="timeline">
					        <li>
					          <div class="timeline-badge"><!--i class="glyphicon glyphicon-check"--></i></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <!--h4 class="timeline-title" id="first_point_title">Mussum ipsum cacilds</h4-->
					              	<div class="input-group">
										<input type="text" class="form-control validate-text required" name="validate-text" placeholder="Point Title" required id="first_point_title">
										<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
									</div>
					            </div>
					            <div class="timeline-body" >
					              	<div class="input-group" data-validate="length" data-length="6" id="first_point_description">
										<textarea type="text" class="form-control" name="validate-optional" id="validate-optional" placeholder="Point Description" required></textarea>
										<span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
									</div>
					            </div>
					          </div>
					        </li>
					        <li class="timeline-inverted">
					          <div class="timeline-badge warning"><!--i class="glyphicon glyphicon-credit-card"--></i></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title" id="second_point_title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body" id="second_point_description">
					              <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
					            </div>
					          </div>
					        </li>
					        
					        <li>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title" id="subpoint_title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body" id="subpoint_description">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
					            </div>
					          </div>
					        </li>
					        
					        <li class="timeline-inverted">
					          <div class="timeline-badge success"><!--i class="glyphicon glyphicon-thumbs-up"--></i></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title" id="last_point_title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body" id="last_point_description">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
					            </div>
					          </div>
					        </li>
					    </ul>
					</div>
				</div> </div>
				<!-- Third step -->
				<div class="col-md-2" id="third_step"><div class=" " >
					<div class="col-md-6 col-md-offset-3">
						
						<div class="row" id="file_upload_wrapper">
							<!-- Widget source code will be entered here -->
							<div class="form-group multiple-form-group input-group active" data-max="5">
		                        <div class="input-group-btn input-group-select">
		                            <span class="btn btn-primary btn-file">
		                            	<i class="glyphicon glyphicon-plus"></i>
		                                <span class="concept">Add photo</span>
		                                <input class="input-file" type="file" />
		                            </span>
		                        </div>
		                        <input type="text" name="contacts['value'][]" class="form-control" placeholder="You can add some photos here" readonly>
		                        <span class="input-group-btn">
		                            <button type="button" class="btn btn-danger btn-remove hidden">
		                            	<i class="glyphicon glyphicon-trash"></i>
		                            </button>
		                        </span>
		                    </div>
						</div>

						<!-- Save Route button -->
						<div class="row">
							<div class="center-block" style="padding-left:10px;">
								<button type=submit class="btn btn-success btn-lg center-block"> 
									<i class="glyphicon glyphicon-floppy-disk"> </i>
									Save Route
								</button>
							</div>
						</div>

					</div>
				</div> </div>

			</div>
		</div>

		
		<!-- 
		======================================= -->

		

		<!-- 
		======================================= -->

		<!-- Continue Button row -->
		<div class="row center-block">
			<div class="col-md-2 col-md-offset-5">
				<a class="btn btn-success center-block" id="continue_button" href=""> 
					Continue <i class="glyphicon glyphicon-chevron-right"> </i> 
				</a>
			</div>
		</div>

	</div>
	
	<!-- Scroll To Top button -->
	<div class="scroll-to-top"> </div>	


    <footer>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-4 contact">
	            	<h3>Contatct Us</h3>
	            	<p> Your opinion is very important for us. Please give us <a href="#">feedback</a> on the Walky project and we will make it better </p>
	            </div>
	            <div class="col-md-2 sitemap">
	            	<h3>Sitemap</h3>
				    <div class="row">
				        <div class="col-md-6">
				            <a href="/home/">Home</a>
				            <a href="/about/">About</a>
				            <a href="/services/">Services</a>
				        </div>
				        <div class="col-md-6">
				            <a href="/partners/">Partners</a>
				            <a href="/customers/">Support</a>
				            <a href="/contact/">Contact</a>
				        </div>
				    </div>
	            </div>
	            <div class="col-md-3 social">
	            	<h3>Social networks</h3>
	            	<img src="images/social.png">
	            </div>
	            <div class="col-md-3 copyright">
	            	<p>
	            		Copyright &copy; 2014 Walky Company
	            	</p>
	            </div>
	        </div>
	    </div>
	</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <script src="js/jquery.js"></script>
    
    <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script-->

    <!-- jQuery UI -->
    <script src="js/jquery-ui/drag-n-drop-places.js"></script>
    <script src="js/jquery-ui/jquery.js"></script>
	<script src="js/jquery-ui/jquery-ui.min.js"></script>

	<script src="js/bootstrap.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/draw_on_map.js"></script>
    <script src="js/scroll-to-top.js"></script>
    <script src="js/getPlaces4sq.js" > </script>
    <script type="text/javascript" src="js/file_chooser.js"></script>
    <script type="text/javascript">
    //_________route type select
    	$('#pedestrian_link').click(function(){
		  $('#selected_route_type').text("Pedestrian").data('type', "pedestrian");
		});
		$('#bicycle_link').click(function(){
		  $('#selected_route_type').text("Bicycle").data('type', "bicycle");
		});
    	$('#car_link').click(function(){
		  $('#selected_route_type').text("Car").data('type', "car");
		});

    	//______ build_route_button handler
    	$('#build_route_button').click(function(){
    		//alert($('#selected_route_type').data('type'));
    		showRoute(path.getArray(), $('#selected_route_type').data('type'));
    		$('#continue_button').removeClass('disabled');
    	});

	//_________steps animation and Continue button handler
		jQuery(function($) {

		    $('#continue_button').click(function() {

		    	if($('#first_step').hasClass('on_screen')){
					$('#first_step_offset').animate({'width': "toggle"}, "slow");
					$('#first_step').removeClass('on_screen');
					$('#second_step').addClass('on_screen');
					$('#continue_button').addClass('disabled');
					$('#second_step_indicator').removeClass('btn-default').addClass('btn-success');
					$('.timeline').show();
		    		return false;
		    	} else if($('#second_step').hasClass('on_screen')){
					
					$('body').animate({
			            	scrollTop: 0
			        	}, 500, function(){
							$('#second_step').removeClass('on_screen');
							$('#third_step').addClass('on_screen');
				    		$('#second_step_offset').animate({width: 'toggle'}, "slow", function(){
				    			$('.timeline').hide("slow");
				    		});
				    		$('#third_step_indicator').removeClass('btn-default').addClass('btn-success');
				    		$('#continue_button').hide();
			    	});

			    	
			    	return false;
			    	
		    	}
		    	
		    });

		});

	//***
	//*		timeline form validation
	//***
	$(document).ready(function() {
    $('.input-group input[required]').on('keyup change', function() {
		var $form = $(this).closest('.timeline'),
            $group = $(this).closest('.input-group'),
			$addon = $group.find('.input-group-addon'),
			$icon = $addon.find('span'),
			state = false;
            
    	if (!$group.data('validate')) {
			state = $(this).val() ? true : false;
		}
		if (state) {
				$addon.removeClass('danger');
				$addon.addClass('success');
				$icon.attr('class', 'glyphicon glyphicon-ok');
		}else{
				$addon.removeClass('success');
				$addon.addClass('danger');
				$icon.attr('class', 'glyphicon glyphicon-remove');
		}
		//alert($form.find('.input-group-addon.danger').length);
        /*if ($form.find('.input-group-addon.danger').length == 0) {
            $form.find('[type="submit"]').prop('disabled', false);
            $('#continue_button').removeClass('disabled');
        }else{
            $form.find('[type="submit"]').prop('disabled', true);
            if($('#second_step').hasClass('on_screen')){
            	$('#continue_button').addClass('disabled');
            }
        }*/
        //$('.required').blur(function() {
		    var empty_flds = 0;
		    $(".required").each(function() {
		        if(!$.trim($(this).val())) {
		            empty_flds++;
		        }    
		    });

		    if (empty_flds) { 
		         $('#continue_button').addClass('disabled');
		    } else {
		        $('#continue_button').removeClass('disabled');
		    }
		//});

	});
    
    $('.input-group input[required], .input-group textarea[required], .input-group select[required]').trigger('change');
  
});
    </script>


    <script type="text/javascript">
    //*** File upload script
    (function ($){
        $(function (){
            $('.btn-file').each(function (){
                var self = this;
                $('input[type=file]', this).change(function (){
                    // remove existing file info
                    $(self).next().remove();
                    // get value
                    var value = $(this).val();
                    // get file name
                    var fileName = value.substring(value.lastIndexOf('/')+1);
                    // get file extension
                    var fileExt = fileName.split('.').pop().toLowerCase();
                    // append file info
                    $('<span><i class="glyphicon glyphicon-picture"></i> ' + fileName + '</span>').insertAfter(self);
                });
            });
        });
    })(jQuery);
	</script>

    <!--Loads source code of File upload widget and paste it to the page  >
    <script>
    jQuery('#file_upload_wrapper').ready(function(){
    	$(function(){
    		$("#file_upload_wrapper").load("file_upload_widget.html", function() {
  				alert( "Load was performed." );
			}); 
    	});
    });
    </script-->
    <!--script type="text/javascript" src="js/step_slider.js"></script-->
  </body>
</html>
