{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Add Route</title>

<!-- Bootstrap core CSS —>
<!--link href="css/bootstrap.css" rel="stylesheet"-->

<!-- Custom styles for this template —>
<!--link href="css/bootstrap.min.css" rel="stylesheet"-->

</head>
<body>
<div class="container">
<div class="well">

{%csrf_token%}
<legend>Add Route</legend>
<div class="control-group">
<label>Route Name:</label>
<input type="text" id="route_name" value="First Route">
</div>
<div class="control-group ">
<label >Likes</label>
<input type="text" id="route_likes" value="151">
</div>
<div class="control-group">
<label>Route City</label>
<input type="text" id="route_city" value="NN">
</div>
<div class="control-group">
<label class="control-label">Length</label>
<input type="text" id="route_length" value="2.0 km">
</div>
<div class="control-group">
<label class="control-label">Duration</label>
<input type="text" id="route_duration" value="25 min">
</div>

<div class="control-group">
<button onclick="addRoute()" >Add Route</button>
</div>


</div>
</div>

</body>
<script src="{% static "jsdev/js/jquery.js" %}"></script>
<script src="{% static 'jsdev/js/addRoute.js' %}" > </script>

</html>
