{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Add Route</title>

    <!-- Bootstrap core CSS -->
    <!--link href="css/bootstrap.css" rel="stylesheet"-->

    <!-- Custom styles for this template -->
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->


</head>
    <body>
         	    <div class="container">
<div class="well">
      <form id="signup" class="form-horizontal" method="post" >
		<legend>Add Route</legend>
		<div class="control-group">
	        <label>Route Name:</label>
			<input type="text" id="route_name">
		</div>
		<div class="control-group ">
	        <label >Likes</label>
			<input type="text" id="route_likes" >
		</div>
		<div class="control-group">
	        <label>Route City</label>
			<input type="text" id="route_city" >
		</div>
		<div class="control-group">
	        <label class="control-label">Length</label>
			<input type="text" id="route_length">
		</div>
		<div class="control-group">
	        <label class="control-label">Duration</label>
			<input type="text" id="route_duration">
		</div>

		<div class="control-group">
	       <button type="submit" onclick="addRoute()" >Add Route</button>
		</div>

	  </form>

   </div>
</div>

    </body>


	<script src="{% static 'jsdev/js/route.js' %}" > </script>
	<script src="addRoute.js" > </script>

</html>