<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="cp1251">
  <title>Start Page</title>
  {% load staticfiles %}
  <script src="{% static "jsdev/js/jquery.js" %}"></script>
  <script  type="text/javascript" src="{% static "jsdev/js/main_page.js" %}" ></script>
 </head>
 <body>



 <table border="0" align="center">
	<tr>
		<td align="center"> <button name="city">City</button> </td>
		<td align="center"> <button name="changeLoc"> Change location</button> </td>
		
		<td align="center"> <button name="signUp" onclick="signup()">sign up</button> </td>
		<td align="center"> <button name="logIn" onclick="login()"> Log In </button> </td>
	</tr>
	<tr>
		<td align="center"> <button name="top">TOP </button> </td>
		<td align="center"> <button name="new"> NEW </button> </td>
		<td align="center"> <button name="add" onclick="addRoute()"> ADD + </button> </button> </td>
		<td align="center"> <button name="around"> AROUND ME </button> </td>
		<td align="center"> <button name="favourite"> FAVOURITE </button> </td>
	</tr>
 </table>
 
 <table border="0" align="left">
	<tr> <td> <button type="button" name="pedestrianOptionButton" onclick="pedestrianOptionChecked()"> Pedestrian </button> </td> </tr>
	<tr> <td> <button type="button" name="bicycleOptionButton" onclick="bicycleOptionChecked()"> Bicycle </button> </td> </tr>
	<tr> <td> <button type="button" name="carOptionButton" onclick="carOptionChecked()"> Car </button> </td> </tr>
 </table>
 
  <table border="0" align="center">
	<tr>
		
	</tr>
 </table>
 
  <!--p style="text-align: center">
	<button name="city">City</button>
	<button name="changeLoc"> Change location</button>
	<button name="logo"><img src="logo.png" style="vertical-align: middle"> </button>
	<button name="signUp">sign up</button>
	<button name="logIn"> Log In </button>
  </p-->
  
{% load staticfiles %}


  	
	

<p>

<b id="like_count">{{ category.likes }}</b> people like this category

{% if user.is_authenticated %}
        <button id ="likes" data-catid="2" class="btn btn-mini btn-primary"  onclick = "likesClicked()" type="button">Like</button>
{% endif %}

<button id ="dislikes" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">DisLike</button>

</p>
{% for key,values in routes.items %}
	
	<li>
			<a href="../jsdev/routes/{{key}}">{{values.route_name}}</a>
	</li>
		
{% endfor %}
 </body>
</html>