<html>

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">  -->
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

<script type="text/javascript">
	//alert("zdxlhgxdkng");
	
	var x = 5;
	$.ajax ({
		type: "POST",
		url: "/updt/",
		data: JSON.stringify( {Markers: "info"} ),
		success : function(data) {
			alert(data);
			},
			
	});
</script>

<body>

{{route}}
<!--iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCw_KEAGVLG7lDHbZLttt4Ttl93Vamu_l4
    &origin=Москва+Россия
	&destination=Нижний+Новгород+Россия
	&mode=driving
	&avoid=tolls|ferries">
</iframe-->

<iframe
  width="200"
  height="200"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCw_KEAGVLG7lDHbZLttt4Ttl93Vamu_l4
    &origin=Львовская+ул.,+1В+Нижний+Новгород+Россия
	&destination=Большая+Печерская+ул.,+25+Нижний+Новгород+Россия
	&mode=driving
	&avoid=tolls|ferries">
</iframe>

</body>
</html>