{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Marker Test</title>

<style>
html, body {
    width: 600px;
	height: 450px;
    margin: 0;
    padding: 0;
}


#map-canvas, #map_canvas {
    width: 600px;
	height: 450px
}
</style>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<!-- {% load staticfiles %} -->
<!-- <script src="{% static "route.js" %}"> </script> -->
<!-- {% load static %} -->
<script type='text/javascript' src="{% static 'jsdev/js/jquery-1.11.0.min' %}"></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

<script src="{% static 'jsdev/js/route.js' %}" > </script>


</head>
    <body>
        <div id="map-canvas"></div>
		<input type="button" name="saveButton" value="Save route!" onclick="sendPoints()"><br/><br/>
		<input type="button" name="clearButton" value="Clear map!" onclick="clearMap()"><br/><br/>
		<input type="button" name="clearDB" value="DROP THE BASE!" onclick="clearDB()"><br/><br/>
		{{text}}
		<img src="{% static 'route/img/test.jpg' %}"/>
    </body>
</html>