{% load staticfiles %}
<html>
<head>
Login
</head>
<body>
	<div class = "container">
	<form action="../auth_view/" method = "post">
	{% csrf_token %}
			
			<div class="control-group">
				<label for="username">Your name :</label>
				<input type="text" name = "username" id="username" >
			</div>
			
			<div class="control-group">
				<label for = "password">Password :</label>
				<input type="password" name = "password" id="password" >
			</div>
			<input type = "submit" value="login" />
		
	</form>

	</div>
</body>
</html>