.user-logo, .likes, .likes-hover, .user-logo-hover{
	background: url(sprites.png) no-repeat;
}

.user-logo{
	background-position: 0 0;
	width: 53px;
	height: 50px;
}

.likes{
	background-position: -57px 0;
	width: 55px;
	height: 50px;
}

.likes:hover{
	background-position: -57px -50px ;
	width: 55px;
	height: 50px;
}

.user-logo:hover{
	background-position: 0 -50px ;
	width: 53px;
	height: 50px;
}

.user-logo-text{
	width: 53px;
	text-align:center;
	font-size:14px;
	color:#978F8F;
}

.likes-text{
	text-align:center;
	font-size:14px;
	color:#978F8F;
}

